@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<link href="~/css/Order.css" rel="stylesheet" />
<link href="~/css/Register.css" rel="stylesheet" />


<div>
    <div class="container">
        <p class="CheckOut-Title">Create a new account.</p>
        <hr />
        <form id="registerForm" class="Form" asp-route-returnUrl="@Model.ReturnUrl" method="post">

            <div asp-validation-summary="All" class="Checkout-Validation"></div>

            <div class="fields">  
                <label class="field">
                    <label asp-for="Input.Name" class="field__label"></label>
                    <input asp-for="Input.Name" class="field__input" autocomplete="name" aria-required="true" />
                </label>
            </div>
            <div class="fields">
                <label class="field">
                    <label asp-for="Input.LastName" class="field__label"></label>
                    <input asp-for="Input.LastName" class="field__input" autocomplete="lastname" aria-required="true" />
                </label>
            </div>
            <div class="fields">
                <label class="field">
                    <label asp-for="Input.Email" class="field__label"></label>
                    <input asp-for="Input.Email" class="field__input" autocomplete="username" aria-required="true" />
                </label>
            </div>
            <div class="fields">
                <label class="field">
                    <label asp-for="Input.Password" class="field__label"></label>
                    <input asp-for="Input.Password" class="field__input" autocomplete="new-password" aria-required="true" />
                </label>
            </div>
            <div class="fields">
                <label class="field">
                    <label asp-for="Input.ConfirmPassword" class="field__label"></label>
                    <input asp-for="Input.ConfirmPassword" class="field__input" autocomplete="new-password" aria-required="true" />
                </label>
            </div>
            <hr />
            <button id="registerSubmit" type="submit" class="button">Register</button>
        </form>
    </div>
    @*<div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
